---
layout: default
---
<section class="home-section hero">
  <div class="section-container">
    <div class="section-grid">
      <div class="hero-message">
        <img src="{% asset_path carina-logo.svg %}" alt="Carina&trade; by Rackspace">
        <p class="tagline">A high performance, instant-on &amp; portable container environment.</p>
        <div data-ng-controller="SignupFormCtrl as signup">
          <form name="form" novalidate data-ng-submit="form.$valid && signup.submitForm()" data-ng-show="signup.status != 'submitted'">
            <div class="control" data-ng-class="{'error': form.$submitted && form.email.$invalid}">
              <input type="email" name="email" required placeholder="Enter Your E-mail Address..." data-ng-model="signup.formData.username">
              <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">
                A valid email address is required.
              </div>
            </div>
            <div class="control" data-ng-class="{'error': form.$submitted && form.password.$invalid}">
              <input type="password" name="password" required placeholder="Create a password..." data-ng-model="signup.formData.password" minlength="8" maxlength="100" data-ng-pattern="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,100}'">
              <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && form.password.$error.required">
                A password is required.
              </div>
              <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && form.password.$error.pattern">
                Your password isn’t strong enough. It should be at least 8 characters long and contain lowercase, uppercase and numeric characters.
              </div>
            </div>
            <div class="control" data-ng-class="{'error': signup.errorMessage}">
              <button type="submit" data-ng-disabled="signup.status == 'submitting'">
                <span data-ng-show="signup.status != 'submitting'">Sign up!</span>
                <span data-ng-cloak data-ng-show="signup.status == 'submitting'">Submitting&hellip;</span>
              </button>
              <div class="control-validation" data-ng-cloak data-ng-bind="signup.errorMessage"></div>
            </div>
          </form>
          <div class="form-submitted" data-ng-cloak data-ng-show="signup.status == 'submitted'">
            <h3>Thanks for signing up for Carina<sup>&trade;</sup>!</h3>
            <p><strong>Check your email</strong> to verify your account and start using Carina<sup>&trade;</sup> right away.</p>
          </div>
        </div>
      </div>
      <div class="hero-graphic">
        {% include svg/hero-cube.svg %}
      </div>
    </div>
  </div>
</section>
<section class="home-section features">
  <div class="section-container">
    <div class="section-grid">
      <div class="summary">
        <h2>
          <span class="accent red">Features</span>
        </h2>
        <p>Carina by Rackspace provides a “zero infrastructure” hosted container environment, where users no longer worry about building, managing, and updating your container environments.</p>
      </div>
      <div class="feature">
        <img src="{% asset_path feature-1.svg %}" alt="">
        <h3>Performance</h3>
        <p>Built for speed - no hypervisor overhead or additional complexity. You get "bare-metal" performance where applications deploy and run up to 20% faster.</p>
      </div>
      <div class="feature">
        <img src="{% asset_path feature-2.svg %}" alt="">
        <h3>Container-Native Tools</h3>
        <p>Instant access to the Docker&trade; toolchain that offers portability across providers, form-factors and container orchestration environments.</p>
      </div>
      <div class="feature">
        <img src="{% asset_path feature-3.svg %}" alt="">
        <h3>Easy to Use</h3>
        <p>Accelerated ramp up through quick installation, intuitive UI &amp; CLI access, world-class documentation and direct developer community support.</p>
      </div>
    </div>
  </div>
</section>
<section class="home-section cp-demo">
  <div class="section-container">
    <div class="section-grid">
      <div class="text">
        <h2>
          <span class="accent yellow">At Your Fingertips</span>
        </h2>
        <p>Carina streamlines the entire experience to allow you to get started with containers <strong></strong><a href="/docs/tutorials/getting-started-on-carina/">quickly</a></strong>. <strong>Go even faster with <a href="https://github.com/rackerlabs/carina"><code>carina</code></a>, the command line tool.</strong></p>
        <p>
          {% for post in site.tutorials %}{% if post.url == '/docs/tutorials/getting-started-on-carina/' %}
            <a href="{{ post.url }}" class="carina-link">Get Started with Carina</a>
          {% endif %}{% endfor %}
        </p>
      </div>
      <div class="demo">
        <div class="demo-frame">
          <!-- TODO: Lightbox like a boss instead -->
            <img src="{% asset_path carina-demo-simple.gif %}" alt="demo">
          <!-- <img src="//fpoimg.com/400x250" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-section resources">
  <div class="section-container">
    <div class="section-grid">
      <div class="summary">
        <h2>
          <span class="accent blue">Everything you need to get started</span>
        </h2>
        <p>Carina makes container clusters more accessible to everyone, from novices to professional developers.</p>
      </div>
      <div class="resource">
        <div class="image">
          <a href="docs/tutorials/getting-started-on-carina/"><img src="{% asset_path resource-1.svg %}" alt="chairs"></a>
        </div>
        {% for post in site.getting-started %}{% if post.url == '/docs/overview-of-carina/' %}
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
          <p><a href="{{ post.url }}">Read More</a></p>
        {% endif %}{% endfor %}
      </div>
      <div class="resource">
        <div class="image">
          <a href="docs/getting-started/getting-started-on-carina/"><img src="{% asset_path resource-2.svg %}" alt=""></a>
        </div>
        {% for post in site.getting-started %}{% if post.url == '/docs/getting-started/getting-started-on-carina/' %}
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
          <p><a href="{{ post.url }}">Read More</a></p>
        {% endif %}{% endfor %}
      </div>
      <div class="resource">
        <div class="image">
          <a href="docs/getting-started/getting-started-carina-cli/"><img src="{% asset_path resource-3.svg %}" alt=""></a>
        </div>
        {% for post in site.getting-started %}{% if post.url == '/docs/getting-started/getting-started-carina-cli/' %}
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
          <p><a href="{{ post.url }}">Read More</a></p>
        {% endif %}{% endfor %}
      </div>
      <div class="resources-button">
        <a href="/docs#articles">View All Resources</a>
      </div>
    </div>
  </div>
</section>
<section class="home-section sign-up">
  <div class="section-container">
    <div class="section-grid">
      <div class="heading">
        <h2>Start developing with containers, for free, right now!</h2>
      </div>
      <div class="signup-form inline" data-ng-controller="SignupFormCtrl as signup">
        <form name="form" novalidate data-ng-submit="form.$valid && signup.submitForm()" data-ng-show="signup.status != 'submitted'">
          <div class="control email" data-ng-class="{'error': form.$submitted && form.email.$invalid}">
            <input type="email" name="email" required placeholder="Enter Your E-mail Address..." data-ng-model="signup.formData.username">
            <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && (form.email.$error.required || form.email.$error.email)">
              A valid email address is required.
            </div>
          </div>
          <div class="control password" data-ng-class="{'error': form.$submitted && form.password.$invalid}">
            <input type="password" name="password" required placeholder="Create a password..." data-ng-model="signup.formData.password" minlength="8" maxlength="100" data-ng-pattern="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,100}'">
            <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && form.password.$error.required">
              A password is required.
            </div>
            <div class="control-validation" data-ng-cloak data-ng-show="form.$submitted && form.password.$error.pattern">
              Your password isn’t strong enough. It should be at least 8 characters long and contain lowercase, uppercase and numeric characters.
            </div>
          </div>
          <div class="control submit" data-ng-class="{'error': signup.errorMessage}">
            <button type="submit" data-ng-disabled="signup.status == 'submitting'">
              <span data-ng-show="signup.status != 'submitting'">Sign up!</span>
              <span data-ng-cloak data-ng-show="signup.status == 'submitting'">Submitting&hellip;</span>
            </button>
            <div class="control-validation" data-ng-cloak data-ng-bind="signup.errorMessage"></div>
          </div>
        </form>
      </div>
      <div class="more-info">
        <p>Need more info?<br>Get all the details about our <a href="/docs/overview-of-carina/">free beta offering</a>.</p>
      </div>
    </div>
  </div>
</section>
<section class="home-section news">
  <div class="section-container">
    <div class="section-grid">
      <div class="blog">
        <h2>Carina Blog</h2>
        <ul class="news-list">
          {% for post in site.posts limit: 3 %}
            <li class="news-item">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="detail">{{ post.author }} &ndash; {{ post.date | date: "%B %-d, %Y" }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="product">
        <h2>Join us on Github</h2>
        <p>We’ve published several Carina<sup>&trade;</sup> and Docker<sup>&trade;</sup>-related resources to our <a href="https://github.com/getcarina">public Github organization, getcarina</a>. We hope you’ll find these tools useful as you develop applications on Carina. And in the spirit of open source, feel free to submit issues or pull requests to make the Carina beta experience even better!</p>
        <p><a href="https://github.com/getcarina">Visit the getcarina Github organization</a>.</p>
        <h2>Tools &amp; Resources</h2>
        <h3><a href="https://github.com/getcarina/carina">Carina CLI</a></h3>
        <p>The <a href="/docs/getting-started/getting-started-carina-cli/">command line client for Carina</a> makes using Carina from the command line or integrating Carina actions with other shell scripts fast and easy. <a href="https://github.com/getcarina/carina">Download the Carina CLI</a>.</p>
        <h3><a href="https://github.com/getcarina/libcarina">libcarina</a></h3>
        <p>If you’re a do-it-yourselfer developing in Go, libcarina provides Go bindings for the beta release of Carina by Rackspace.</p>
        <h3><a href="https://webchat.freenode.net/?channels=getcarina">#getcarina on IRC</a></h3>
        <p>Get real-time help from the Carina<sup>&trade;</sup> community on our Freenode IRC channel, <a href="https://webchat.freenode.net/?channels=rackspace">#getcarina</a>.</p>
      </div>
    </div>
  </div>
</section>
